NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSWORD=
NEXT_PUBLIC_LEDGER_TG_LINK=https://t.me/+_KIs8nMAL6s2ZDQx
NEXT_PUBLIC_FBC_TG_LINK=https://t.me/+CwRVCVVN3J9mNjE0
NEXT_PUBLIC_FBC_X_LINK=https://x.com/BlockchainFUTO
NEXT_PUBLIC_FBC_WA_LINK=https://chat.whatsapp.com/DrEasofyaZt23doh7ou5eW?s=cl&p=a&ilr=0
